@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0px;
}

:root {
    --primary-color: #8d5cf6;
    --secondery-color: #252b42;
    --third-color: gray;
}
.header {
    background-color: azure;
}

.container {
    margin: auto;
    max-width: 1035px;
}
.screen-gapping {
    padding-left: 20px;
    padding-right: 20px;
}
.header-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    max-width: 1200px;
}
.logo {
    padding-left: 25px;
    color: var(--secondery-color);
}
.logo_sec h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: gray;
}

.logo_sec h2 {
    size: 24px;
    color: var(--secondery-color);
    margin: 0;
    padding-left: 30px;
}

.nav-links .link {
    list-style: none;
    max-width: 100px;
}
.nav-links .link a {
    text-decoration: none;
}
.nav-links {
    display: flex;
    gap: 10px;
    font-size: 16px;
    padding: 0px;
}

.header_btn {
    padding: 15px;
    border-radius: 10px;
    border: none;
    /* background-color: transparent #e74040; */
    color: black;
    background: none;
}
.header-main-buttons {
    display: flex;
    padding-right: 30px;
}

.content-section {
    gap: 30px;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.hero_sec {
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}

.image-section {
    width: 100%;
}

.sec_color {
    background-color: azure;
}
.footer-links {
    color: var(--third-color);
    font-size: 14px;
    font-weight: 700;
    max-width: 400px;
}
.footer-icon-bar{

  color: var(--third-color);
   font-size: 14px;
   font-weight: 700;
   max-width: 400px;}
a {
    text-decoration: none;
    max-width: 197px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
}
ul {
    list-style: none;
}
.btn {
    padding: 5px;
    outline: none;
    border: none;

    color: aliceblue;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}
.btn_ {
    padding: 5px;
    outline: none;
    border: 1px solid var(--primary-color);

    color: var(--primary-color);

    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(37, 43, 213);
}
.border-none-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: 700px;
    font-size: 14px;
    color: var(--primary-color);
}
.font-400 {
    font-weight: 700;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.menu-bar {
    width: 705px;
    height: 96px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    gap: 100px;
}
.nav-links {
    display: flex;
    gap: 13px;
    font-size: smaller;
    font-weight: 600;
}
.nav-links li a {
    text-decoration: none;
    color: var(--third-color);
}
.nav-links li a:hover {
    color: var(--primary-color);
    background-color: aliceblue;
}

.nav-button {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: smaller;
    font-weight: 600;
}

.navbar-btn {
    width: 90px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    background: var(--primary-color);
    border: none;
    color: white;
    font-size: smaller;
}

.navbar-btn:hover {
    color: blue;
}
.elementer-section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.menubar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px 5px 40px;
}

.title-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
}
.content-box {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-left: 25px;
    gap: 23px;
}
.content-box a {
    display: flex;
    align-items: center;
    gap: 5px;
}
.content-box h2 {
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    color: var(--secondery-color);
}

.sec {
    display: flex;
    gap: 160px;
    align-items: center;
    background-color: #2dc071;
}

.title-content h1 {
    color: var(--secondery-color);
    margin: 0px;
    font-size: 58px;
    font-weight: 700;
    margin: 0px;
    max-width: 690px;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
}
.title-content h2 {
    margin: 0px;
    max-width: 420px;
    padding: 0px;
    color: var(--secondery-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}
.title-content h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--third-color);
    margin: 0px;
    max-width: 285px;
}
.fa-brands {
    color: var(--primary-color);
    font-size: 20px;
}

.content-box h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: var(--third-color);
    margin: 0px;
    max-width: 330px;
}
.title-content h5 {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    max-width: 120px;
}
.start-vedio-sec {
    width: 84px;
    position: absolute;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: 19px;
    left: calc(50% - 42px);
    bottom: calc((50% - 42px));
    height: 84px;
    /* left: 173px; */
    background-color: var(--primary-color);
}
.vedio-image {
    border-radius: 5px;
    width: 100%;
}

.content-box h5 {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
}

.buttons {
    display: flex;
    gap: 5px;

    align-items: center;
    /* justify-content: space-between; */
    width: 74%;
}

.button-section {
    display: flex;
    border: none;
    font-size: 14px;
    padding: 15px 40px 15px 40px;
    font-weight: 700;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    max-width: 270px;
}
.double-btn span {
    justify-content: center;
}

.colouring-btn {
    background-color: var(--primary-color);
    color: aliceblue;
    max-width: 200px;
    gap: 10px;
}
.header-filled-btn {
    background-color: var(--primary-color);
    color: aliceblue;
    max-width: 200px;
    gap: 10px;
    padding: 15px 25px 15px 25px;
}

.noncolouring-btn {
    color: var(--primary-color);
    background-color: transparent;

    border: 1px solid var(--primary-color);
}
.vedios-card {
    position: relative;
}
.vedios-card button {
    border: none;
}
.sub-mid-rows {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}
.first-row-drsec {
    padding: 0px 120px 0px 0px;
}

.sub-mid-section {
    display: grid;
    align-items: start;
    justify-content: space-evenly;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.box {
    box-shadow: 0px 30px 19px 0px #00000012;
    padding: 20px 25px 25px;
}
.box:hover {
    background: var(--primary-color);
    color: white;
}
.box:hover .box-image p {
    color: white;
}

.inner-line {
    width: 55px;
    height: 3px;
    background: #e74040;
}
.inner-red-line {
    width: 94px;
    height: 6px;
    background: #e74040;
}
/* .inner-line:hover {
  background-color: aliceblue;
} */
.referance-line h4 {
    line-height: 25px;
    color: var(--third-color);
    max-width: 410px;
}
.box-inline-img {
    max-width: 77px;
}
.box-image {
    display: flex;
    flex-direction: column;

    gap: 25px;
}
.colour-section {
    background: #fff2f3;

    padding: 100px 0px 100px 0px;
}

.box-image p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: var(--third-color);
    max-width: 140px;
}
.box-image h4 {
    max-width: 250px;
    color: var(--secondery-color);
}
.box-image h4:hover {
    color: white;
}
.sub-sec {
    height: 700px;
}
.experts {
    background-color: #e74040;
}
.various-experts-items {
    background-color: aquamarine;
    align-items: center;
}
.star-rate {
    background: #26335d;

    width: 20px;
    /* padding: 5px; */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.colum-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.care {
    display: flex;
    justify-content: space-between;
    width: 230px;
    background-color: #e74040;
}
.productcards {
    width: 100%;
    gap: 30px;
    display: flex;
}
.productcards.cards {
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}
.productcards.card-sale h6 {
    font-size: 16px;
    margin: 0px;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.productcards.card-sale span {
    font-size: 20px;
}
.card-sale span {
    color: gray;
    font-weight: 100;
}

.productcards.card.card-info {
    display: flex;
    width: 100%;
}
.sale-div {
    background-color: red;
    top: 20px;
    left: 20px;
    padding: 0px 10px 0px 10px;
    gap: 0px;
    border-radius: 3px 0px 0px 0px;
    position: absolute;
}
.sale-div h6 {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 0;
    max-width: 180px;
}
.productcard-icon {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 8px;
}
.card-topside {
    position: relative;
    width: 100%;
}
.card-icon {
    align-items: center;
    border-radius: 44.49px;
    border: none;
    padding: 10px;
    display: flex;
    background-color: white;
}
.applicable-crt {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #2dc071;
    border: none;
    padding: 10px;
}
.fa-play {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
}
.card-info {
    padding: 50px 15px 20px 28px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.name-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.name-rate h4 {
    color: var(--primary-color);
   
    font-size: 13px;
    font-weight: 700;
    text-align: left;
}
.fa-sharp {
    color: gold;
}
.name-rate button {
    background-color: #26335d;
    border-radius: 18px;
    border: none;
    display: flex;
    padding: 7px 7px 7px 4px;
    gap: 6px;
}

.rating-num {
    color: aliceblue;
    margin: 0px;
    font-size: 12px;
}
.card-info h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.card-info p {
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    color: var(--third-color);
}
.card-sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    padding: 0;
}

.card-sale h6 {
    color: var(--third-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 5px;
}
.price {
    display: flex;
    padding: 5px;
    max-width: 30%;
    gap: 10px;
}
.old-offer {
    font-size: 16px;
    color: var(--third-color);
}
.new-offer {
    color: #ff7b52;
}
.product-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-info-btn {
    border-radius: 30px;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 15px;
}

.card-info-btn h6 {
    font-size: 14px;
    font-weight: 700;
}

.favorite-icon {
    background-color: var(--primary-color);
}

.productcard-like-icon {
    align-items: center;
    border-radius: 44.49px;
    border: none;
    padding: 25px;
    background-color: var(--primary-color);
    display: flex;
}

.box h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.box h6 {
    width: 70px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}
.pricing-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 40px;
}

.boxes-3 {
    top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    box-shadow: 0px 30px 19px 0px #00000012;
    left: 0.5px;
    position: relative;
}
.boxes-3 h3 {
    font-weight: 700;
    font-size: 24px;
    color: var(--third-color);
}
.card-heading {
    font-weight: 700;
    margin: 0px;
    line-height: 24px;
    color: #737373;
    font-size: 14px;
    max-width: 145px;
}

.pricing-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-rate h2 {
    margin: 0;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 30px;
}
.pricing-rate h6 {
    color: #8ec2f2;
    font-size: 10px;
    margin: 0;
}
.boxes-3 p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    max-width: 170px;
    color: var(--third-color);
}
.btn-click {
    border-radius: 5px;
    padding: 15px 70px 15px 70px;
    gap: 10px;
    border: none;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.pricing-features {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 305px;
    line-height: 20px;
}
.pricing-features:box:hover {
    color: white;
}

.checking {
    display: flex;
    margin: 0px;
    gap: 7px;
    font-size: 14px;
}

.checking h6 {
    font-size: 14px;
    font-weight: 700;
    display: flex;
}

.check-mark {
    border-radius: 30px;
}

.nonapplicable-crt {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #bdbdbd;
    border: none;
    padding: 10px;
}

.not-checking {
    display: flex;

    gap: 7px;
}
.sample-line {
    width: 120px;
    text-align: center;
}
.boxes-3:hover {
    background-color: #26335d;
    color: whitesmoke;
}
.boxes-3 h6 {
    display: flex;
    max-width: 213px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    color: var(--third-color);
}
.colour {
    background: #fff2f3;

    padding: 100px 0px 100px 0px;
}

.new-box-sec {
    width: 74px;
    position: absolute;
    border-radius: 50px;
    background: #e77c40;
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    font-size: 19px;
    left: 270px;
    top: -33px;
    height: 73px;

    align-items: center;
}
.expert-img {
    border-radius: 61px;
}
.expert-about {
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.expert-about p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    color: var(--third-color);
    text-align: center;
    max-width: 300px;
}
.expert-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 0px 60px 0px;
}
.name-div {
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 125px;
}
.icon-img {
    font-size: 17px;
    color: var(--primary-color);
}
.top-card-icon {
    color: #ffffff;
    font-size: 30px;
}
.name-div h5 {
    font-size: 16px;
    margin: 0px;
    color: var(--secondery-color);
    text-align: center;
}
.name-div h6 {
    font-size: 14px;

    text-align: center;
    color: gray;
}
.fa-regular {
    color: gold;
}
.expert-review h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    color: var(--third-color);
    margin: 0px;
}
.expert-review h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 0px;
}
.join-section {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.join-section h2 {
    margin: 0px;
    max-width: 213px;
    font-size: 40px;
    font-weight: 700;
    color: var(--secondery-color);
}
.join-section h6 {
    margin: 0px;
    color: var(--primary-color);

    font-size: 14px;
    font-weight: 700;
    max-width: 70px;
}
.email-entering {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.join-section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    max-width: 484px;
    color: var(--third-color);
    margin: 0px;
}
.subscribe-section {
    display: flex;
    justify-content: center;
    width: 60%;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.subscribe-form input {
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
    padding: 14px;
    width: 100%;
    font-weight: 700;
}
.subscribe-form button {
    max-width: 200px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 14px;
    display: flex;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}
.input {
    width: 522px;
    height: 41px;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon-about {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 20px;
}
.footer-color {
    background: #fafafa;
}
.icon-about small {
    max-width: 200px;
}
.icon {
    gap: 15px;
    display: flex;
}
.sub-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #737373;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-section-link-box {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
}
.pricing-features h5 {
    font-weight: 700px;
    font-size: 16px;
    color: var(--secondery-color);
}
.pricing-features {
    font-weight: 700px;
    font-size: 14px;
    display: flex;
    max-width: 300px;
}
.footer-bg {
    background: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
