@media only screen and (max-width: 1010px) {
    .image-section {
        display: none;
    }
    .title-content {
        text-align: center;
        padding-top: 0px;
        /* padding-bottom: 50px; */
        align-items: center;
        justify-content: center;
        padding-left: 1rem;
        padding-bottom: 5rem;
    }
    .title-content h4 {
        text-align: center;
        max-width: 320px;
    }
    .buttons {
        width: 100%;
        display: flex;
      justify-content: center;
}
    }

    .box-image h5 {
        max-width: 154px;
    }
    .title-content h5 {
        justify-content: center;
        align-items: center;
    }
    .title-content h2 {
        text-align: center;
    }
    .hero_sec {
        justify-content: center;
    }
    .sub-mid-rows img {
        display: none;
    }
    .sub-mid-rows {
        justify-content: center;
    }
    .start-vedio-sec {
        display: none;
    }
    .content-box {
        text-align: center;
        align-items: center;
    }
    .content-box h4 {
        text-align: center;
    }
    
    .content-box a {
        text-align: center;
        justify-content: center;
        display: flex;
        max-width: 100%;
    }
    .hero_sec{
        display: flex;
        flex-direction: column;
    }
    .sub-mid-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .Product-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .pricing-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pricing-cards:hover{
        background-color:darkblue ;

    }
    .new-box-sec{
        display: none;
    }
    .btn-click{
        padding-left: 50px;
    }
    /* .footer-section-link-box{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    } */
     .sub-footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
     }
     .button-section{
        padding: 10px;
     }

